<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{assets/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{assets/css/styles.css}" rel="stylesheet" />
    </head>
    <body>


        <nav th:insert="fragments.html :: topnav"></nav>
        <header th:insert="fragments.html :: header"></header>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">

                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/StrongBassEarphone.jpg}"  alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Oriamo Product</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">#4500</span>
                                    #3500
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getOriamo()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>


                            <!-- Product actions-->

                        </div>

                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/Lavalier.jpg}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">#4500</span>
                                    #3500
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getLavelier()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>



                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/hp-15s-du.jpg}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">#50.00</span>
                                    #25.00
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getHp()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>
                            <!-- Product actions-->



                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/powerbank.jpg}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">#4500</span>
                                    #3500
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getPowerBank()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>
                            <!-- Product actions-->


                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/CarWireless.jpg}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">#50.00</span>
                                    #25.00
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getCarwireless()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>
                            <!-- Product actions-->

                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/JBLWirelessEarbuds.jpg}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    #120.00 - #280.00
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getJBLWireless()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>
                            <!-- Product actions-->

                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/xtreme-3-001-500x500.jpg }" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <span class="text-muted text-decoration-line-through">#20.00</span>
                                    #18.00
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getXtreme()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>
                            <!-- Product actions-->

                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{assets/assets/oraimo-smart-watch.jpg}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <span class="text-muted text-decoration-line-through">#4500</span>
                                    #3500
                                </div>
                                <a th:href="@{/product/{id}(id=${productDto.getSmartwatch()})}">
                                    <div class="text-center">
                                        <div class="form-check">

                                        </div>
                                        <button class="btn btn-outline-dark mt-auto" value="Oriamo" >
                                            View Options</button></div>
                                    <!--                                th:href="@{/posts/fullPost/{postId}(postId=${post.getId()})}"-->
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:insert="fragments.html :: footer"></footer>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
        <!-- Core theme JS-->
        <script th:src="@{assets/js/scripts.js}"></script>

    </body>
</html>
